# CREATE VIEW Y DDL ALTER

En esta clase se muestra como crear las view o las vistas, que es la forma como se toman datos de la base de datos, ponerlos de una forma presentable y convertirlas en algo que se pueda consultar de manera recurrente.

![](imagenes/img79.png)

El comando view tiene dos componentes principales, el primero es el nombre del view, que viene acompañado por el CREATE porque se esta creado la vista, es de anotar que por buenas practicas el nombre comienza por una 'v' para indicar que es una vista, después de esto se coloca la palabra 'AS' seguido de la segunda parte que es la estructura SELECT.

![](imagenes/img80.png)

Para crear un view en MySQL damos click derecho en views y se selecciona 'Create View'

![](imagenes/img81.png)

Se crea la setencia y se da apply 

![](imagenes/img82.png)

Antes de crearlo muestra la setencia que se va a ejecutar, se le da en apply

![](imagenes/img83.png)

Se crea una vista, esto es muy útil cuando se quiere combinar varias tablas para ver alguna información de cada tabla, para luego mostrarlas.

Se sigue con la setencia

![](imagenes/img84.png)

'ALTER' es el comando para realizar cambios en la base de datos, la setencia en su primera parte esta diciendo que se va a alterar o cambiar la tabla people y ese cambio es agregar date_of_birth date. En la segunda parte es cambiar de la tabla people cambiar la columna date_of_birth year y por último se borra la columna date_of_birth.

![](imagenes/img85.png)

Para utilizar alter en MySQL con click derecjo se selecciona alter table

![](imagenes/img86.png)

Se agrega  la columna date_of_birth y se da en apply

![](imagenes/img87.png)

Nuevamente muestra la instancia que se va a ejecutar, se le da en Apply

![](imagenes/img88.png)

Para borrar una columna se le da click derecho en la columna a borrar y se selecciona Delete Selected, luego en Apply

![](imagenes/img89.png)

Se muestra en la instancia el DROP para borrar la columna